html, body{
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background: #4D4D4D;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-decoration: none;
}

.wrapper{
    width: 1170px;
    margin: 0 auto;
}

.photo{
    width: 1170px;
    height: 658px;
    margin-bottom: 25px;
}

.title_1{
    width: 370px;
    height: 56px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    margin-left: 100px;
}

.title_2{
    width: 597px;
    height: 140px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    margin-top: 130px;
    margin-left: 373px;
}

.section__bg{
    width: 1170px;
    height: 1080px;
    background: #333333;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}

.footer__bg{
    width: 1170px;
    height: 132px;
    background: #1A1A1A;
    margin-top: 20px;
}

.footer__title{
    width: 91px;
    height: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.ds{
    width: 60px;
    height: 60px;
    margin-right: 40px;
    text-decoration: none;
}

.inst{
    width: 60px;
    height: 60px;
    text-decoration: none;
}

.img{
    padding-top: 12px;
    margin-left: 100px;
}